.wrapper {
  width: 1050px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}



.title {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;

  &Notice {
    @extend .title;
    font-weight: 700;
  }
}

.notice {
  width: 56px;
  height: 24px;
  border-radius: 12px;
  border: solid 1px #333;
  letter-spacing: -0.38px;
  margin: 0 auto;
}